
body{
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  background-image: url("./favour.jpg");
  align-items: center;
  background-size: cover;
  background-blend-mode: fixed;
  background-repeat: no-repeat;
  background-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 20px; /* Optional spacing */
}



h1,p{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 3px;
}
.content > h3 > a{
  padding: 5px;
}




.rest {
  font-family: monospace;
  font-weight: 100pts;
}

.content {
  text-align: center;
  font-family: monospace;
  font-weight: 100pts;
}

.btn {
  margin-bottom: 2px;
  padding: 15px 25px;
  background-color: brown;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  text-decoration: none;
}

.btn:hover {
  background-color: red;
}
a{
  font-family: serif;
}


